html {
  color: black;
  font-family:courier; 
}
/* fix the body to be full screen */
body {
  height:100%;
    width:100%;/* top and bottom fixed to 0 would accomplish the samething, BUT since height percentage is dependent on the parent elements height, I'm using height:100% here to cascade down in order to allow the section and section:before to be designated as height:100%. */
  margin:0;
  position:absolute; //* body just be absolute to expand height and width *//
  width:100%;
}
.fbg {
	background-attachment: fixed;
	background-position: 50% top;
	background-size: cover;
}
.section {  
  height:100%;
  position:relative;  
  text-align:center;
  width:100%;
  &:before {
    content:'';
    display: inline-block;
    height:100%;  
    width:0px;
    vertical-align: middle;
  }
}
/* Use "background-color" and not just "background" else your other backgound attribute such as "size", "position", and "attachment" will be reset to default.*/
#home {background-color:#fff;}
#projects {background-color:#fff;}
#mision {background-color:#fff;}
#about {background-color:#fff;}
#contact {background-color:#fff;}

.container {
     margin-left: auto;
     margin-right: auto;
     display: block;
}

.general{
    font-size: 2em;
    font-family: cursive;
}

.box-container{
    display: block;
}


.box-holder-left{
    float: left;
    display: inline-block;
}

.box-holder-left{
    float: right;
    display: inline-block;
}

.box {
    width: 300px;
    padding: 1px;
    border: 2px solid navy;
    margin: 7px;
}

.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}