html {
  color: black;
  font-size: 70px;
  font-family:courier; 
}
/* fix the body to be full screen */
body {
  height:100%;
    width:100%;/* top and bottom fixed to 0 would accomplish the samething, BUT since height percentage is dependent on the parent elements height, I'm using height:100% here to cascade down in order to allow the section and section:before to be designated as height:100%. */
  margin:0;
  position:absolute; //* body just be absolute to expand height and width *//
  width:100%;
}
.fbg {
	background-attachment: fixed;
	background-position: 50% top;
	background-size: cover;
}
.section {  
  height:100%;
  position:relative;  
  text-align:center;
  width:100%;
  &:before {
    content:'';
    display: inline-block;
    height:100%;  
    width:0px;
    vertical-align: middle;
  }
}
/* Use "background-color" and not just "background" else your other backgound attribute such as "size", "position", and "attachment" will be reset to default.*/
#home {background-color:#E6E6E6;}
#zaglavlje {background-color:#E6E6E6;}
#mision {background-color:#E6E6E6;}
#about {background-color:#E6E6E6;}
#contact {background-color:#E6E6E6;}

.container {
    padding-top: 2em;
    display: block;
}