body {
    background: #000;
    color: black;
}


.team-wrapper {
    text-align: center;
    color: #fff;
    background-image: url(../images/pozadina22.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top:4em;
    padding-bottom:4em;
    text-align: center;
}

.outline{
       color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.odvajac {
    display: inline-block;
}

.left {
    display: block;
    float: left;
}

.left p{
    text-align: center;
}

.right {
    display: block;
    float: right;
}

#pe {
    font-size: 5em;
    text-align: center;
}

.glavnica {
    color: #fff;
    background-image: url(../images/pozadina11.jpg);
    background-position: center;
    font-size: 3em;
    color: #fff;
    text-align: center;
}

.projekti {
   display: inline-block;
    color: white;
    padding-top:4em;
    padding-bottom:4em;
    text-align: center;
}

#odvajanje {
    display: inline-block;
    
    
}

.project-wrapper {]
    float:left;
    width:30%;
    background: #000;
    border: 2px  #00c303 solid  ;
    border-radius: 2px;
}

.project-wraper-div {
    padding: 20px;
}

.wrapper {
    padding: 20px;
    display: block;
    
    
    text-align: center;
}

#logo {
    background-image: url(assets/images/nav.png);
    
    
        
}

hr.light {
    border-color: #00c303;
}
hr {
    max-width: 500px;
    border-width: 12px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheethr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}
ul {
    padding-left: 42%;
}

.row {
    display: flex;
}

.project-wrapper1 {
    float: right;
    width: 30%;
    background: #000;
    border: 2px  #00c303 solid  ;
    border-radius: 2px;
    
}

.project-wrapper2 {
    margin: auto;
    width: 30%;
    background: #000;
    border: 2px  #00c303 solid  ;
    border-radius: 2px;
}
