body {
    background: #000;
    margin: auto;
    width: auto;
    color: black;
    width: 100%;

}



.team-wrapper {
        display: inline-block;
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../images/pozadina22.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: inline-block;
    margin: auto;
    padding-top:4em;
    padding-bottom:4em;
    text-align: center;
    width: 100%;
    height: 100%;
}

.outline{
       color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.odvajac {
    display: inline-block;
}

.left {
    display: block;
    float: left;
    margin: auto;
    width: auto;

}

.left p{
    text-align: center;
}

.right {
    display: block;
    float: right;
    margin: auto;
    width: auto;

}

#pe {
    font-size: 5em;
    text-align: center;
}

.glavnica {
    position: relative;
    width: 100%;
    min-height: 100%;
    text-align: center;
    color: #fff;
    background-image: url(../images/pozadina11.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-size: 3em;
    color: #fff;
    width: 100%;
    display: inline-block;
    margin: auto;
    padding-top:4em;
    padding-bottom:4em;
    text-align: center;
    height: auto;
}

.projekti {
    color: white;
    display: inline-block;
    margin: auto;
    padding-top:4em;
    padding-bottom:4em;
    text-align: center;
    width: 100%;
    height: 100%;
}

#odvajanje {
    display: inline-block;
    margin: auto;
    
}

.project-wrapper {
    background: #000;
    display: inline-block;
    margin: auto;
    padding-left: 5em;
    padding-right: 5em;
}

.project-wraper-div {
    padding: 20px;
}

.wrapper {
    padding: 20px;
    display: block;
    width: auto;
    margin: auto;
    text-align: center;
}

#logo {
    background-image: url(assets/images/nav.png);
    width: auto;
    margin: auto;
        
}

hr.light {
    border-color: #00c303;
}
hr {
    max-width: 500px;
    border-width: 12px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
hr {
    height: 1;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheethr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}
ul {
    padding-left: 42%;
}
